.vs/
bin/
obj/
Artifact/
*.pyc
*.yaml
launchSettings.json

Plugins/UnrealEngine/BocchiTracker/Content
Plugins/UnrealEngine/BocchiTracker/Binaries
Plugins/UnrealEngine/BocchiTracker/Intermediate
Plugins/UnrealEngine/ThirdParty/flatbuffers/include
Plugins/UnrealEngine/ThirdParty/flatbuffers/lib
UnityEditor.dll
UnityEngine.dll
Google.FlatBuffers.*