/* NavMenu.razor.css */

.nav-scrollable {
    background: linear-gradient(to bottom, #1e1e2f, #3b1b3f); /* ←ここを明示的に指定！ */
    color: white;
    height: 100vh;
    padding-top: 1rem;
}

.sidebar-dark {
    background-color: #1e1e2f;
    color: white;
    height: 100vh;
    padding-top: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding-left: 1rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
